[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-bedrock-token-generator = "*"
boto3 = "*"
botocore = {extras = ["crt"], version = "*"}
litellm = {extras = ["proxy"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
